<div class="container">
	<% if !flash[:alert].nil? %>
	<div class="alert alert-danger">
		<%= flash[:alert] %>
	</div>
	<% end %>
</div>
<div class="container">
	<div class="row">
	<%= render :partial => 'posts/show' %>
</div>
